In [1]:
# Librerías
import sqlite3  # Módulo para conectar con la base de datos
import pandas as pd  # Módulo para trabajar con dataframes

# Conectar a la base de datos
conn = sqlite3.connect("data/db_movies")  # Conectamos con la base de datos
cur = conn.cursor()  # Creamos un cursor

# Consultamos las tablas de la base de datos
cur.execute("select name from sqlite_master where type='table'")
print(cur.fetchall())

[('ratings',), ('movies',), ('ratings4',)]

In [7]:
# Consultamos la tabla movies y traer a pandas
df = pd.read_sql("SELECT * FROM ratings", conn)
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
# Convertir df llamado ratings4 a sql
df.to_sql("ratings4", conn, if_exists="replace")

100836

In [ ]:
# Crear dataset llamado ratings3 con las películas que tengan rating mayor a 4.5
cur.execute("CREATE table ratings3 as SELECT * FROM ratings WHERE rating > 4.5")